.tb table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 650px; 
  border-collapse: 
  collapse; border-spacing: 0; 
}

.tb td, .tb th { 
  border: 1px solid #CCC; 
  font-size: 7pt;
    text-align:center; 
    vertical-align:top;
}

.tb th {
  background: #F3F3F3; 
  font-weight: bold;
  padding: 5px 7px; 
}

.tb td {
  //background: #FAFAFA;
  padding: 3px 7px;
}
