.tb table { 
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	width: 740px; 
	border-collapse: 
	collapse; border-spacing: 0; 
}

.tb td{ min-height: 30px; }

.tb td, .tb th { 
	border: 1px solid #CCC; 
	text-align:center; 
	vertical-align:top;
	white-space: nowrap;
	overflow: hidden;
}

.tb th {
  background: #F3F3F3; 
  font-weight: bold;
  padding: 5px 7px; 
}

.tb td {
	//background: #FAFAFA;
	padding: 3px 7px !important;
}

