        *
        {
            margin:0px;
            padding:0;
            font-family:Arial;
            font-size:9pt;
            color:#000;
        }
        body
        {
            width:100%;
            font-family:Arial;
            font-size:9pt;
            margin:0;
            padding:0;
        }



#ylataulu{
  border: none;
  width: 100%;
  margin-bottom: 2rem;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: 
  collapse; border-spacing: 0; 
	border: 1px #333 solid;
}
.table th, .table td{
  text-align: left;
  border-bottom: 1px #333 solid;
  padding: 3px 5px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #333333;
}

