.mennytPaivat{
	opacity: 0.4;
}
.odotusweeklaskennan{
	/*display:block;*/
}
#fixTable td,th{
	margin:0;
	padding:0;
	/*background: #fff;*/
}
#fixTable td{

}
#fixTable td:hover{
	/*background: #fff;*/
}
.bg-default{
	background: #ddd;
}
.hover_well{
	padding: 7px;
	background: #ededed;
	border: 1px #ddd solid;
	margin-bottom: 5px;
}
.muistin{
	float: left;
	margin-top: 4px;
	margin-right: 3px;
	cursor: pointer;
}
.reika-danger{
	background: orange;
	color: white;
	padding: 3px;
	font-weight: bold;
	line-height: 70%;
	font-size: smaller;
	border: none !important;
}
.dropdown-menu{
	z-index: 999;
}
.text-orange{
	color: orange;
}
.fixed-column{
	max-width:50px;
	width:50px;
	z-index: 99;
}
.plussa{
	margin-top: 4px;
}
.tvikooni{
	margin-right: 4px;
}
.tv_edit{
	width: 100%;
	cursor: pointer;
}
td .latikkoAsetukset p:hover{
	/*background: #ddd;*/
}
.table-bordered{
	border: 1px solid #333;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #333;
}
td .latikkoAsetukset p{
	border: 1px #ddd solid;
	border-radius: 2px;
	padding: 4px 7px;
	overflow-x: hidden;
	margin-bottom: 3px;
}
.valitseKokopaiva, .plussa, .mcut, .mplus{
	font-size: 130%;
	margin-right: 3px;
	cursor: pointer;
}
.pvm_kesto{
	position: absolute; top:4px; right:3px;
	z-index: 1;
}
.pvm_kesto span{
	padding: 4px 7px;
	border: 1px #ddd solid;
	background : white;
}
.latikkolisatiedot_paa{
	position: absolute; top: 0; right: 0;
	z-index: 2;
}
.latikkolisatiedot{
	background: #fff;
	padding: 4px 7px;
	border: 1px #ddd solid;
	color: orange;
	z-index: 999;
}
td .latikkoAsetukset{
	position: relative;
	font-family: ibm-plex-sans, sans-serif;
	font-size: 90%;
	min-width: 250px;
	padding: 5px 7px;
	min-height: 40px;
	max-height: 210px; overflow-y: auto;
	white-space: normal;
}
.tr_pyhat{
	background: #ddd;
}
.tr_pyhat .latikkoAsetukset p{
	border: 1px #fff solid;
}
td span.nimi{
	color: #333;
	white-space: normal;
	font-family: ibm-plex-sans, sans-serif;
	/*font-size: 80%;*/
	max-width: 120px;
	width: 120px;
	padding: 5px 7px;
	line-height: 16px;
}
#hovertietoja{
	position: fixed; left: 0; top: 0;
	min-width: 300px;
	padding: 10px 20px;
	font-family: ibm-plex-sans, sans-serif;
	font-size: 90%;
	line-height: 16px;
	border-right:1px #ddd solid;
	border-bottom:1px #ddd solid;
	background: #fff;
	color: #333;
	z-index: 999999;
	/*opacity: 0.9;*/
}
.kellot{
	
}
.tyoajanlaatu_laatiko{
	padding: 3px;
	color: #fff;
}
.fullRivi:hover{
	background: #ededed;
}
.clear, .trash{ 
	font-size: 150%;
	margin-left:5px;
}
.table tbody>tr>td{
    	vertical-align: top;
}
.table{
	height: 100%;
}

/* toistuva calendar */
.valittu_pvm{
	background: #ededed;
}
.custom-menu {
	width: 300px;
	z-index:1000;
	position: absolute;
	background-color: #ededed;
	border: 1px solid #ddd;
	padding: 10px 20px;
}
