.mennytPaivat{
	opacity: 0.4;
}
#fixTable td,th{
	margin:0;
	padding:0;
}
#fixTable td{
	white-space: nowrap;
}
#fixTable td:hover{
	background: #fff;
}
.ajanreika{
	background: orange;
}
.hover_well{
	padding: 7px;
	background: #ededed;
	border: 1px #ddd solid;
	margin-bottom: 5px;
}
.muistin{
	float: left;
	margin-top: 4px;
	cursor: pointer;
}
.reika{
	color: #fff;
	padding: 3px;
	font-size: 90%;
	font-weight: bold;
}
.reika-success{
	background: #28a745;
}
.reika-warning{
	background: orange;
}
.dropdown-menu{
	z-index: 999;
}
.text-orange{
	color: orange;
}
.fixed-column{
	max-width:50px;
	width:50px;
	z-index: 99;
}
.plussa{
	margin-top: 4px;
}
.tvikooni{
	margin-left: 3px;
	margin-right: 4px;
}
.tv_edit{
	width: 100%;
	cursor: pointer;
	margin: 0;
}
.valitseKokopaiva, .plussa, .mcut, .mplus{
	font-size: 130%;
	margin-right: 3px;
	cursor: pointer;
}
.latikkolisatiedot_paa{
	position: absolute; top: 0; right: 0;
	float: right;
	background: #fff;
}
.latikkolisatiedot{
	padding: 2px 5px;
	color: orange;
	z-index: 999;
}
td .latikkoAsetukset{
	position: relative;
	font-family: ibm-plex-sans, sans-serif;
	/*font-size: 80%;*/
	width: 250px;
	min-width: 190px;
	max-width: 250px; overflow-x: hidden;
	padding: 5px 7px;
	min-height: 40px;
	max-height: 150px; overflow-y: auto;

}
td span.nimi{
	color: #333;
	white-space: normal;
	font-family: ibm-plex-sans, sans-serif;
	/*font-size: 80%;*/
	max-width: 120px;
	width: 120px;
	padding: 5px 7px;
	line-height: 16px;
}
#hovertietoja{
	position: absolute; left: 0; top: 0;
	width: 300px;
	padding: 10px 20px;
	position: absolute;
	font-family: ibm-plex-sans, sans-serif;
	font-size: 90%;
	line-height: 16px;
	border-right:1px #ddd solid;
	border-bottom:1px #ddd solid;
	background: #fff;
	color: #333;
	z-index: 999999;
	/*opacity: 0.9;*/
}
.kellot{
	
}
.tyoajanlaatu_laatiko{
	padding: 3px;
	color: #fff;
}
.fullRivi:hover{
	background: #ededed;
}
.clear, .trash{ 
	font-size: 150%;
	margin-left:5px;
}
.table tbody>tr>td{
    	vertical-align: top;
}
.table{
    height: 100%;
}
