.mennytPaivat{
	opacity: 0.4;
}
td .kloajaat{
	width: 50px;
	font-size: 75%;
	line-height: 12px;
}
td .latikkoAsetukset{
	width: 60px;
	height: 80px;
	max-height: 80px;
	font-size: 90%;
	line-height: 0.9em;
}
.forCut, .forCopy{ 
	display: none;
}
.mplus, .mcut{ 
	display: none;
	font-size: 150%;
}
.clear, .trash{ 
	font-size: 150%;
	margin-left:5px;
}
td:hover .mplus, td:hover .mcut{
	display : block;
}
td .tp{
	margin-bottom: 5px;
}
.luominen, .valitseKokopaiva{
	display: none;
}
.table tbody>tr>td{
    	vertical-align: top;
}
.table{
    height: 100%;
}
.laskutettu{
	border:1px blue solid;
}
