.mennytPaivat{
	opacity: 0.4;
}
#fixTable td,th{
	margin:0;
	padding:0;
}
.popup-basic-left{
	position: absolute;
	top: -40px;
	left: 0px;
}
.latikkolisatiedot_paa{
	position: relative;
}
.latikkolisatiedot{
	padding: 2px 5px;
	background: #fff;
	display: none; 
	position: absolute;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	z-index: 999;
}
.fullRivi{
	height: 100%;
	margin-bottom: 2px;
	border:1px #ccc solid;
	padding:3px 7px;
	background: white;
	border-radius:5px;
}
.dropdown-menu{
	z-index: 999;
}
.fixed-column{
	min-width:90px;
	width:90px;
	z-index: 99;
}
td .kloajaat{
	background: #fff;
	font-size: 14px;
	line-height: 20px;
}
td .latikkoAsetukset{
	min-width: 100px;
	/*width: 100px;
	max-width: 100px;*/
	height: 100%;
	line-height: 16px;
/*
	font-size: 14px;
	line-height: 20px;
*/
}
.tvline{
	padding:0 7px;
	/*position:absolute;*/
	width: 100%;
	white-space: nowrap;
	/*border-bottom:1px #ddd dashed;*/
}
.forCut, .forCopy{ 
	display: none;
}
.mplus, .mcut{ 
	display: none;
	font-size: 150%;
}
.clear, .trash{ 
	font-size: 150%;
	margin-left:5px;
}
/*
td:hover .mplus, td:hover .mcut, td:hover .latikkolisatiedot{
	display : block;
}
*/
.luominen, .valitseKokopaiva{
	display: none;
}
.table tbody>tr>td{
    	vertical-align: top;
}
.table{
    height: 100%;
}
