assets/*
emails/*
emails
backup/*
tiedostot/*
tiedostot
ohjevideot/*
ohjevideot
!tiedostot/templates/mallit/*
!tiedostot/etusivu/*
!tiedostot/trust/*
img/*
img
protected/views/domainit/sql/*
protected/runtime/*
protected/runtime/application.log
!protected/runtime/.gitignore
protected/data/*.db
.DS_Store
etuntiAPP/.DS_Store
etuntiAPP/EtuntiAPP/platforms/*
etuntiAPP/EtuntiAdmin/platforms/*
error_log
