assets/*
emails/*
backup/*
tiedostot/tekijat/*
tiedostot/laskut/*
tiedostot/admins/*
img/*
protected/views/domainit/sql/*
protected/runtime/*
protected/runtime/application.log
!protected/runtime/.gitignore
protected/data/*.db
protected/config/*
.DS_Store
etuntiAPP/.DS_Store
etuntiAPP/EtuntiAPP/platforms/*
error_log
themes/roker/js/twitter/*
