dev
dev/
estrom.fi
estrom.fi/
sivex.fi
sivex.fi/
sivex-sivusto
staging
staging/*
assets/*
emails/*
temp/*
emails
files/*
backup/*
tiedostot/*
files/*
tiedostot
ohjevideot/*
ohjevideot
!tiedostot/templates/mallit/*
!tiedostot/etusivu/*
!tiedostot/trust/*
img/*
protected/views/domainit/sql/*
protected/runtime/*
protected/runtime/application.log
!protected/runtime/.gitignore
protected/data/*.db
.DS_Store
etuntiAPP/.DS_Store
etuntiAPP/EtuntiAPP/platforms/*
etuntiAPP/EtuntiAdmin/platforms/*
asiakas/platforms/*
error_log
.htaccess
protected/vendors/phpdocx/lib/pdf/lib/fonts/log.htm
protected/modules/reportico/components/*
