RewriteEngine on

# Prevent httpd from serving dotfiles (.htaccess, .svn, .git, etc.)
 RedirectMatch 403 /\..*$
# if a directory or a file exists, use it directly
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
# RewriteRule . index.php

# SSL 
# RewriteRule ^ - [E=protossl]
# RewriteCond %{HTTPS} on
# RewriteRule ^ - [E=protossl:s]

 # RewriteCond %{HTTPS} off
 # RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
 # RewriteCond %{HTTP_HOST} !^www\. [NC]
 # RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
