<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.etunti.local" version="0.0.602" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Etunti.fi</name>
    <description>
        Etunnin perus- ja lisätyökalut ovat suunniteltu ratkaisemaan puhdistusalan tyypilliset ongelmat. Yhden ohjelman avulla pyörität yritystoimintaasi ennen näkemättömän helposti.
    </description>
    <author email="laptopsr@gmail.com" href="http://etunti.fi">
        Etunti.fi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <icon src="icon.png" />
        <icon density="ldpi" src="res/android/icones/ldpi.png" />
        <icon density="mdpi" src="res/android/icones/mdpi.png" />
        <icon density="hdpi" src="res/android/icones/hdpi.png" />
        <icon density="xhdpi" src="res/android/icones/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="/*" target="config.xml">
            <feature name="Camera">
                <param name="ios-package" value="CDVCamera" />
            </feature>
            <preference name="CameraUsesGeolocation" value="false" />
        </config-file>
        <js-module name="CameraPopoverHandle" src="www/ios/CameraPopoverHandle.js">
            <clobbers target="CameraPopoverHandle" />
        </js-module>
        <header-file src="src/ios/UIImage+CropScaleOrientation.h" />
        <source-file src="src/ios/UIImage+CropScaleOrientation.m" />
        <header-file src="src/ios/CDVCamera.h" />
        <source-file src="src/ios/CDVCamera.m" />
        <header-file src="src/ios/CDVJpegHeaderWriter.h" />
        <source-file src="src/ios/CDVJpegHeaderWriter.m" />
        <header-file src="src/ios/CDVExif.h" />
        <framework src="ImageIO.framework" weak="true" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AVFoundation.framework" />
        <preference default=" " name="CAMERA_USAGE_DESCRIPTION" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference default=" " name="PHOTOLIBRARY_USAGE_DESCRIPTION" />
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string />
        </config-file>
    </platform>
    <platform name="wp8">
        <icon height="48" platform="wp8" src="res/wp8/icon-48.png" width="48" />
        <icon height="62" platform="wp8" src="res/wp8/icon-62-tile.png" width="62" />
        <icon height="173" platform="wp8" src="res/wp8/icon-173-tile.png" width="173" />
        <splash height="800" src="res/wp8/SplashScreenImage.jpg" width="480" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="ubuntu" spec="^4.3.4" />
    <plugin name="cordova-plugin-app-event" spec="~1.2.0" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-compat" spec="~1.1.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-fcm" spec="^2.1.2" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.3" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-media" spec="~3.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="~0.8.5" />
    <plugin name="phonegap-nfc" spec="~0.6.6" />
</widget>
