.well{
    background: rgba(255, 255, 255, 1);
    border:3px rgba(0, 157, 218, 1) solid;

}
.logo{
	margin-left: 5px;
}
.link:hover{
	text-decoration: none;
}
#kirjauduOikealla{
	display: none;
}
#page{
	padding: 70px 0;
}

