<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.etunti.dico" version="1.0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>eDico</name>
    <description>
      EDICO-mobiili on helppo ja turvallinen tapa hoitaa asiakassuhteesi missä ja milloin tahansa. Sen käyttöönotto on nopeaa ja vaivatonta. EDICO-mobiilin lataaminen ja käyttö on asiakkaalle ilmaista. EDICO kulkee kätevästi mukanasi joka paikassa ja sillä asiointi sujuu juuri silloin kuin haluat.
 
      EDICO-mobiililla voit muun muassa:
      • tehdä uusia tilauksia
      • tarkastella, sopimuksiasi, tulevia työsuoritteita ja asiakashistoriaasi
      • antaa palautetta palveluntarjoajalle
      • vinkata palveluista myös ystävillesi
      • vastaanottaa sinulle räätälöityjä tarjouksia
    </description>
    <author email="tuki@etunti.fi" href="https://etunti.fi">
        Etunti Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="icon.png" />
        <icon density="ldpi" src="res/android/icones/ldpi.png" />
        <icon density="mdpi" src="res/android/icones/mdpi.png" />
        <icon density="hdpi" src="res/android/icones/hdpi.png" />
        <icon density="xhdpi" src="res/android/icones/xhdpi.png" />
        <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.0.19" />
</widget>
